// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  -webkit-text-size-adjust:none;
}
article .entry-content table td.line-data {
  text-align: left;
}
.line, .line span, .line-number, .line-numbers, article pre, .entry-content .gist .gist-file .gist-data pre {
  font: 1.0em Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  line-height: 1.4;
}
.file-data .line-data {
  width: 100%;
}